
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Table</title>
  <style>
    table {
      width: 40%;
      background: white;
      color: rgba(20, 10, 70, 2);
      border-spacing: 1px;
    }
    td, th {
      background: rgba(10, 178, 200, 0.45);
      padding: 5px;
    }
    h1 {
      color: rgba(59, 8, 20, 100);
    }
  </style>
</head>
<body>
<br>
<h1>Пользователи</h1>
<table border="1">

  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Возраст</th>
    <th>Логин</th>
    <th>Пароль</th>
    <th>Редактировать</th>
    <th>Удалить</th>

  </tr>
  <tbody>
  <tr th:each="user : ${users}">

    <td th:utext="${user.getId()}"></td>
    <td th:utext="${user.getName()}"></td>
    <td th:utext="${user.getSurname()}"></td>
    <td th:utext="${user.getAge()}"></td>
    <td th:utext="${user.getUsername()}"></td>
    <td th:utext="${user.getPassword()}"></td>
    <td>
      <form  th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
        <button type="submit">Редактировать</button>
      </form>
    </td>
    <td>
      <form  th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<br>
<button><a href="/admin/create">Создать нового пользователя!</a></button>
<br>
</form:form>
<button><a href="/">На главную</a></button>
<button><a href="/logout">Выйти</a></button>
</body>
</html>